/* @import "Reset.css"; */

:root {
  --clr-light-gray: #d9d9d9;
  --clr-dark: #1c2833;
  --clr-green: #30c966;
  --clr-bg-dark: #010914;
  --clr-bg-light: #ffffff;
}

/* Default (light) */
body.light {
  background-color: var(--clr-bg-light);
  color: var(--clr-dark);
}

body.light button {
  background-color: var(--clr-light-gray);
  color: var(--clr-dark);
}

/* Dark mode */
body.dark {
  background-color: var(--clr-bg-dark);
  color: var(--clr-light-gray);
}

body.dark button {
  background-color: var(--clr-dark);
  color: var(--clr-light-gray);
}

/* Modal box juster til dark mode */
body.dark .modalBox {
  background-color: #333;
  color: var(--clr-light-gray);
  border: 1px solid #555;
}
